.row {
    margin-right: 0;
}
.card{
    margin-bottom:10px;


}
.price{
    position: relative;
    text-align: right;

}
.destination h1{
   text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}