.home-page-banner{
    position: relative;

}
.container-home-page {
    background-image: url("../Images/Banner.png");
    color: white;
    display: flex;
    justify-content: center ;
    position: relative;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;
}
.container-home-page .title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    z-index: 10;
    font-size: 35px;
    color: white;
    white-space: nowrap;

}
.container-home-page p{
    z-index: 1;
    position: relative;
    top: 40px;
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .container-home-page .title{
        font-size: 18px;
    }
    .container-home-page{
        background-image: url("../Images/background1.jpg");
    }
}
@media only screen and (max-width: 340px) {
    .container-home-page .title{
        font-size: 16px;
    }
    .container-home-page p{
        top:20px;
        font-size: 10px;
    }
    .home-page-banner .btn{
        top: 57%;
    }
}
.home-page-banner .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #2b1d6a;
    border: none;
}
