body{
    background-color: #2b1d6a;
    background-size: cover;


}
.container-fluid{
    display: flex;
    justify-content: center;

}
.card-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    color: #f7f8f9;
    margin-top: 70px;

}
.btn-form {
    margin-top: 10px;
    background-color: rgba(175, 55, 6, 0.71);
}
.form-control{
    margin-top: 10px;
    background-color: rgba(251, 224, 224, 0.59);
}
.form-select{
    background-color: rgba(251, 224, 224, 0.63);
}
.form-label{
    margin-bottom: 0;
    margin-top: 10px;
}
@media screen and(max-width: 400px) {
    .col-6{
        width: 100%;
    }

}